<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.testcases.myntra.usingtestng.VerifyHomePageTitleAndObjects" />
			<class name="com.testcases.myntra.usingtestng.VerifyMenSubMenu" />
			<class name="com.testcases.myntra.usingtestng.VerifyNavigateToLuggagesAndTrolleysSectionPage" />
			<class name="com.testcases.myntra.usingtestng.VerifyTitleandObjectsInLuggagesAndTrolleysSectionPage" />
			<class name="com.testcases.myntra.usingtestng.VerifyFilterFunctionAndSelectProduct" />
			<class name="com.testcases.myntra.usingtestng.VerifyToViewSelectedProduct" />
			<class name="com.testcases.myntra.usingtestng.VerifyProductDetails" />
			<class name="com.testcases.myntra.usingtestng.VerifyAddToCart" />
			<class name="com.testcases.myntra.usingtestng.VerifyAddQuantityInCart" />
			<class name="com.testcases.myntra.usingtestng.VerifyCartAfterRefreshingPage" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->